* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: #252627;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #ffffff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #226089;
    transition: all .5s;
}

span.name {
    color: #2cb978;
}

span.m-left {
    margin-left: -10px;
}

.text p {

    word-spacing: 10px;
    font-size: 1rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #2cb978;
    color: #2cb978;
    font-size: .8rems;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #ffffff;
}

.text a::before {
    content: '';
    background-color: #2cb978;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    width: 450px;
    margin-left: 1200px;
    margin-top: -250px;
}

.about {
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.3rem;
    color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.about img {
    width: 300px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
}

.skills {
    height: 100vh;
    margin-top: -200px;
}

.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.skills-info {
    font-size: 1.4rem;
    color: #bebebe;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    max-width: 900px;
    position: relative;
    padding: 50px;
    left: 55%;
    right: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 1;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-'] {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785a7;
    margin-right: 30px;
}

div[class^='tag-'] p {
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.work {
    margin-top: -250px;
}

.work-category button {
    text-transform: capitalize;
    border: 3px solid #2cb978;
    padding: 15px 30px;
    border-radius: 50px;
    color: #2cb978;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
}

div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(350px, 1fr));
    grid-gap: 20px;

}

.work a {
    justify-self: center;
    position: relative;
    display: inline-block;

}

.work-category .active {
    background-color: #2cb978;
}

button.active {
    color: #ffffff;
}

.work a img {
    width: 800px;
    justify-self: center;

}

div.hideCategory {
    display: none;
}

.showCategory {
    display: block;
}

.contact {
    margin-top: 50px;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #ffffff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child {
    width: 150px;
    background-color: #2cb978;
    border: none;
    cursor: pointer;
}

.text {
    text-align: center;
    margin-left: 100px;
}



footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}